@page "{id}"
@model BLSystem.Pages.BogPage.DeleteBogModel
@{
    ViewData["Titel"] = "DeleteBog";
}

<h1>Slet bog</h1>
<h3>ER DU SIKKER ?</h3>
<div>
    <form method="post">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.bog.Bog_Id)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.bog.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.bog.Forfatter)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.bog.Udgivelsesår)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.bog.ISBN)
            </dt>
           
        </dl>
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <div>
        <a asp-page="GetBøger">Tilbage</a>
    </div>
</div>